.init-orderer-container {
    padding: 16px;
}

.enter-button,
.clear-button {
    height: 4em;
    width: 8em;
    bottom: 10px;
    left: 10px;
}

.clear-button {
    background-color: #a1a1a1;
    margin-left: 10px;
}

.enter-button {
    background-color: #656565;
}