<mat-card class="quotes-container">
    <mat-list role="list">
        <mat-list-item role="listitem">
            <h4>"Get it together girl!" (in regard to Taro's body falling apart)</h4>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4>"It's like we broke up for college, except college was the bog."</h4>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4>"For til bog?"</h4>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4>"I found a way to create an infinite hamster."</h4>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4>"Habeus corpus....what is that, a mushroom?"</h4>
        </mat-list-item>
    </mat-list>

    <hr/>

    <mat-list role="list">
        <mat-list-item role="listitem">
            <h4>"I feel like Joel Osteen would have a lot of spell slots"</h4>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4>"As we know, horchata makes you deaf."</h4>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4>"If you dye in the martell illusion tower, you dye in real life"</h4>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4>"Anyway, I'm a scarecrow. Let's go"</h4>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4>"It's fine. I'm a strong woman... I will regain my composure... and shoot someone else."</h4>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4>"A fake mother with a cheesewheel baby has her ways."</h4>
        </mat-list-item>

        <mat-list-item role="listitem">
            <h4>"Yes I'm a noble. Yes I'm poor. Yes we exist"</h4>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4>"Daffy duck moment caught on camera"</h4>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4>"You cheated death, you can survive my mother."</h4>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4>"That's the infinity pool of white fever cure jungle juice."</h4>
        </mat-list-item>
    </mat-list>
</mat-card>