<div class="characters-container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Stacy
                </mat-panel-title>

                <mat-panel-description>
                    High Elf Paladin / Cheerleader
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/stacy1.jpg" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/chunkybartok.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/stacy.jpg" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/stacyaca.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/stacykevin.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/stacyleopold.jpg" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Kamilla
                </mat-panel-title>

                <mat-panel-description>
                    High Elf Monk
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/kamillaboxer.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/kamilla.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/kamillastacy.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/kamilla1.png" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Euphonia
                </mat-panel-title>

                <mat-panel-description>
                    Genasi Bard
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/euphi.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/euphi1.png" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Cobalt
                </mat-panel-title>

                <mat-panel-description>
                    Kalashtar Cleric
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/cobalt.jpg" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/cobalt1.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/tarocobalt.png" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Taro
                </mat-panel-title>

                <mat-panel-description>
                    Hollow Shadow Sorcerer
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/tarostand.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/tarosit.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/taroearthhand.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/tarofoxes.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/taroinfest.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/tarobog.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/taroscantron1.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/taroifyoulooklikethis.png" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Mazbork
                </mat-panel-title>

                <mat-panel-description>
                    Half-orc Druid
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/maz2.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/maz1.jpg" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Staryu
                </mat-panel-title>

                <mat-panel-description>
                    Genasi Fighter
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/staryucolor.jpg" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/staryu.png" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

    </mat-accordion>

    <hr/>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Leopold
                </mat-panel-title>

                <mat-panel-description>
                    Wood Elf Wizard/Monk/Warlock, Member of the LA Angels
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/leopoldbyollie.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/leopoldbysam.png" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Ezra
                </mat-panel-title>

                <mat-panel-description>
                    Tiefling Warlock
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/ezra.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/baseballezra.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/ezraproto.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/ezraeat.png" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Gwyn
                </mat-panel-title>

                <mat-panel-description>
                    Human Artificer
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/gwyndress.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/gwynmatches.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/gwynpissroom.png" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Greta
                </mat-panel-title>

                <mat-panel-description>
                    Forest Gnome Ranger
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/gretatracksuit.png" />
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="assets/gretatutor.png" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Zymir
                </mat-panel-title>

                <mat-panel-description>
                    Triton Barbarian
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/zymircloak.png" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Tutor
                </mat-panel-title>

                <mat-panel-description>
                    Warforged Bard
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/gretatutor.png" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Sebastian
                </mat-panel-title>

                <mat-panel-description>
                    Tiefling Barkeep/Twink
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="assets/sebastian.png" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Secchi
                </mat-panel-title>

                <mat-panel-description>
                    Dragonborn Ranger
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p>no art yet!</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Aralee
                </mat-panel-title>

                <mat-panel-description>
                    Wood Elf Rogue
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p>no art yet!</p>
        </mat-expansion-panel>

    </mat-accordion>
</div>